.book-service-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  height: 255px;
  margin-left: 50px;
  margin-top: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

.date-picker-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.calendar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 46px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
}

.calendar-icon svg {
  font-size: 20px;
}

.date-picker {
  flex: 1;
  border: 1px solid #ccc;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px;
}

.book-button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.book-button:hover {
  background-color: #0056b3;
}
