.outline {
  border: 1px solid #121481;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.input-wrapper {
  position: relative;
  /* display: flex;
  align-items: center; */
  /* flex-direction: column; */
}
