/* Navigation.css */
.brand {
  color: #fff; /* Set text color for the brand */
  font-size: 2em; /* Set font size for the brand */
  font-weight: bold; /* Set font weight for the brand */
  width: calc(80% - 90px);
}
.brand:hover {
  color: #fff; /* Ensure color remains the same on hover */
  cursor: default; /* Set default cursor on hover */
}
.bg-red {
  background-color: #121481; /* Set background color of the navbar to red */
  z-index: 3;
}

.navbar-nav .nav-link {
  color: #fff;
  font-size: 18px;
}
.navbar-nav .nav-link:hover {
  color: white;
  background-color: black;
}
.navbar-nav .nav-link.active {
  color: white;
  background-color: red;
}

.brand-images {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.brand-images .logo {
  height: 60px; /* Adjust the height as needed */
}
