/* Navigation.css */
.brand {
  color: #fff; /* Set text color for the brand */
  font-size: 2em; /* Set font size for the brand */
  font-weight: bold; /* Set font weight for the brand */
}
.brand:hover {
  color: #fff; /* Ensure color remains the same on hover */
  cursor: default; /* Set default cursor on hover */
}
.bg-red {
  background-color: #121481; /* Set background color of the navbar to red */
}
.navbar-nav .nav-link:hover {
  background-color: #000; /* Set background color on hover */
}
.navbar-nav .nav-link {
  color: #fff; /* Set text color for the nav links */
  font-size: 18px;
}
