.custom-button {
  width: 250px;
  background-color: black;
  color: white;
  margin: auto;
}
.custom-button:hover {
  background-color: #121481;
}
.card {
  height: 250px;
  width: 300px;
  border: 1px solid #121481;
}
