.custom-button {
  width: 250px;
  background-color: black;
  color: white;
  margin: auto;
}
.custom-button:hover {
  background-color: #121481;
}
.card {
  height: 250px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
